﻿@charset "utf-8";
/* CSS Document */
.hm-wrap
{
	margin:auto;
    position:relative;
	zoom:1;
    display: inline-block;
	*display:inline;
}
.hm-wrap img
{
    position: absolute;
    z-index: 1;
	top:0;
	left:0;
	border:none;
}
.hm-init
{
    position: absolute;
    z-index: 997;
	top:0;
	left:0;
}
.hm-hover
{
    position: absolute;
    z-index: 998;
	top:0;
	left:0
}
.hm-helper
{
	position: absolute;
    z-index: 999;
	top:0;
	left:0;
	background:url(transparent.gif);
}


.hm-blur
{
	filter:blur(add=0,direction=0,strength=10);
}

.hm-tip
{
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
	background:#000;
	color:#fff;
	display:none;
}
