div#txtRoll{ cursor:default;}
div#txtRoll span#txtElasped {display:inline;}
div#txtRoll:hover span#txtElasped {display:none;}
div#txtRoll span#txtDateTime {display:none;}
div#txtRoll:hover span#txtDateTime {display:inline;}

.dl-horizontal, dt, dd {
	padding:10px;
    line-height: 25px !important;
}

label label-completed{
	background-color:#E6E9EE;
	color:#AAB2BD;
}